<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-item-pedido-heading" jhiTranslate="testehipsterApp.itemPedido.home.createOrEditLabel">Create or edit a Item Pedido</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.itemPedido.desconto" for="field_desconto">Desconto</label>
                    <input type="number" class="form-control" name="desconto" id="field_desconto"
                           formControlName="desconto"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.itemPedido.quantidade" for="field_quantidade">Quantidade</label>
                    <input type="number" class="form-control" name="quantidade" id="field_quantidade"
                           formControlName="quantidade"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.itemPedido.preco" for="field_preco">Preco</label>
                    <input type="number" class="form-control" name="preco" id="field_preco"
                           formControlName="preco"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
