<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pedido-heading" jhiTranslate="testehipsterApp.pedido.home.createOrEditLabel">Create or edit a Pedido</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.pedido.instante" for="field_instante">Instante</label>
                    <input type="text" class="form-control" name="instante" id="field_instante"
                           formControlName="instante"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.pedido.pagamento" for="field_pagamento">Pagamento</label>
                    <select class="form-control" id="field_pagamento" name="pagamento" formControlName="pagamento">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pagamentoOption.id === editForm.get('pagamento').value?.id ? editForm.get('pagamento').value : pagamentoOption" *ngFor="let pagamentoOption of pagamentos; trackBy: trackPagamentoById">{{pagamentoOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.pedido.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="cliente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id === editForm.get('cliente').value?.id ? editForm.get('cliente').value : clienteOption" *ngFor="let clienteOption of clientes; trackBy: trackClienteById">{{clienteOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="testehipsterApp.pedido.produto" for="field_produtos">Produto</label>
                    <select class="form-control" id="field_produtos" multiple name="produtos" formControlName="produtos">
                        <option [ngValue]="getSelected(editForm.get('produtos').value, produtoOption)" *ngFor="let produtoOption of produtos; trackBy: trackProdutoById">{{produtoOption.title}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
