<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pagamento-com-boleto-heading" jhiTranslate="testehipsterApp.pagamentoComBoleto.home.createOrEditLabel">Create or edit a Pagamento Com Boleto</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.pagamentoComBoleto.dataVencimento" for="field_dataVencimento">Data Vencimento</label>
                    <input type="text" class="form-control" name="dataVencimento" id="field_dataVencimento"
                           formControlName="dataVencimento"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.pagamentoComBoleto.dataPagamento" for="field_dataPagamento">Data Pagamento</label>
                    <input type="text" class="form-control" name="dataPagamento" id="field_dataPagamento"
                           formControlName="dataPagamento"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="testehipsterApp.pagamentoComBoleto.pagamento" for="field_pagamento">Pagamento</label>
                    <select class="form-control" id="field_pagamento" name="pagamento" formControlName="pagamento">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pagamentoOption.id === editForm.get('pagamento').value?.id ? editForm.get('pagamento').value : pagamentoOption" *ngFor="let pagamentoOption of pagamentos; trackBy: trackPagamentoById">{{pagamentoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
